[core]
        autocrlf = input
[user]
        name = zirain
        email = zirain@gmail.com
[alias]
        br = branch
        c  = commit -s
        co = checkout
        ch = cherry-pick
        dump = cat-file -p
        hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
        st = status
        type = cat-file -t
[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f