<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true">
	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>

	<targets>
		<!--ElasticSearch保存日志信息-->
		<target name="ElasticSearch" xsi:type="ElasticSearch" ConnectionStringName="ElasticSearchServerAddress"
				index="demosite-${date:format=yyyy.MM.dd}"
				documentType="doc"
				includeAllProperties="true">
			<field name="MachineName" layout="${machinename}"/>
			<field name="logger" layout="${logger}"/>
			<field name="eventId" layout="${event-properties:item=EventId_Id}"/>
			<field name="url" layout="${aspnet-request-url}" />
			<field name="referrer" layout="${aspnet-request-referrer}" />
			<field name="controller" layout="${aspnet-mvc-controller}" />
			<field name="action" layout="${aspnet-mvc-action}" />
			<field name="user-identity" layout="${aspnet-user-identity}" />
			<field name="bcss-userguid" layout="${aspnet-item:variable=bcss-userguid}" />
			<field name="exception" layout="${exception:format=tostring}" />
			<field name="stacktrace" layout="${stacktrace}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="INFO" writeTo="ElasticSearch" />
	</rules>
</nlog>