@model LocalizationDemo.Models.Home.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<p>
    @Html.LabelFor(p => p.Title)
    @Html.EditorFor(p => p.Title)
</p>

<select class="form-control" asp-for="Vegetable" asp-items="Html.GetEnumSelectList<Vegetable>()"></select>