<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true">
  <extensions>
    <add assembly="NLog.Targets.KafkaAppender"/>
  </extensions>
  <targets>
    <target xsi:type="KafkaAppender"
            name="kafka"
            topic="NLog.Kafka.Demo"
            brokers="node:9092"
            debug="true"
            async="false"
            >
      <layout xsi:type="JsonLayout">
        <attribute name="eventId" layout="${event-properties:item=EventId_Id}"/>
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="referrer" layout="${aspnet-request-referrer}" />
        <attribute name="controller" layout="${aspnet-mvc-controller}" />
        <attribute name="action" layout="${aspnet-mvc-action}" />
        <attribute name="user-identity" layout="${aspnet-user-identity}" />
        <attribute name="bcss-userguid" layout="${aspnet-item:variable=bcss-userguid}" />
        <attribute name="message" layout="${message}" />
        <attribute name="level" layout="${level}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="INFO" writeTo="kafka" />
  </rules>
</nlog>